/Share&Care/.vs
/Share&Care/obj
/Share&Care/bin
**/bin/
**/obj/
appsettings.Development.json
Share&Care/appsettings.Development.json
.vs
/Share&Care/wwwroot/frontend/build
/Share&Care/wwwroot/frontend/build
